<!DOCTYPE html>
<html>
<head>
    <title>Add Flashcard</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>Add Flashcard</h1>

    <form method="POST">

        <input type="text"
               name="question"
               placeholder="Question"
               required>

        <br><br>

        <input type="text"
               name="answer"
               placeholder="Answer"
               required>

        <br><br>

        <button class="success">Save</button>
        <a href="/">
    <button type="button" class="primary">Back</button>
</a>
    </form>

</div>

</body>
</html>